.search-container{
    margin-bottom: 100px;
}

.card-search {
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 50%;
    margin: auto;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  @media (max-width: 768px) {
    .card-search {
      width: 80%;
      top: 85%;
      transform: translate(-50%, -50%);
      left: 50%;
    }
    .search-container{
        margin-bottom: 200px;
    }
    .search-button{
        width:150%
    }
  }
  
  @media (max-width: 576px) {
    .card-search {
      width: 90%;
      top: 70%;
    }
  }
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="number"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f8f6f7;
    border: none;
    border-radius: 5px;
  }
  
  .search-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f57009;
    color: #fff;
    border: none;
    border-radius: 24px;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 27px;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
  }
  
  .search-button:hover {
    background-color: orange;
  }
  
